.popup{

  #overlay{
    z-index: 99;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.62);
    height: 177vh;
    width: 102vw;
  }

  #popup-window{
    margin-left: 25%;
    margin-top: 7%;
    width: 730px;
    height: 594.5px;
    position: absolute;
    z-index: 999999;
    background-image: url("../../public/images/popup2.png");
    background-size: contain;

    .quote{
      margin-left: 29%;
      margin-top: 68%;
      font-size: 15px;
      h2{
        color: rgba(255, 255, 255, 0.57);
      }
    }

    h1{
      color: white;
    }
  }

  #join-button{
    position: absolute;
    margin-top: 414px;
    margin-left: 231px;
    width: 252px;
  }
  #close-button{
    position: absolute;
    right:0;
    margin: 5px;
    margin-right: 46px;
    margin-top: 26px;
    width: 41px;
  }
}
