.home{

  .back{
    position: absolute;
  }

  .new-activity{
      margin-right: -15px;
      position: relative;
      margin-bottom: 5px;
  }

  .choose{
    margin-top: -152px;
  }
  .full-table{
    right: 0;
    position: absolute;
    margin-right: 60px;
    margin-top: -44px;
  }
  .new-table{
    margin-left: 60px;
  }

  .tables{
    margin-top: -186px;
  }
}
