.home{


  #close-button{
    float: right;
    margin-right: 41px;
    margin-top: 24px;
    width: 40px;
  }

  #popup-window{
    margin-left: 25%;
    margin-top: 7%;
    width: 642px;
    height: 522.7px;
    position: absolute;
    z-index: 999999;
    background-image: url("../../public/images/your-activity-popup.png");
    background-size: contain;

    .quote{
      margin-left: 29%;
      margin-top: 68%;
      font-size: 15px;
      h2{
        color: rgba(255, 255, 255, 0.57);
      }
    }

    h1{
      color: white;
    }
  }
}
